{% set anchor_base = (app.request.get('_route') == 'home') ? '' : path('home') %}
<nav class="header" id="header">
    <div class="nav">
        <div class="header_logo">
            <a href="{{ path('home') }}">
                <img src="/images/logo.svg" alt="ImmoDemo Logo" />
            </a>
        </div>
        <div class="header_links">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('search') }}">Recherche</a>
            <a href="{{anchor_base}}#a-propos">À Propos</a>
            <a href="{{anchor_base}}#notre-equipe">Notre équipe</a>
        </div>
        <div class="header_contact">
            <a href="{{ path('contact') }}">Contactez-nous</a>
        </div>
    </div>
</nav>