{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="wrapper" id="homepage">
    <div class="section homesearch">
        <div class="wrapper_block">
            <div class="text_section">
                <div class="title">Votre Succès, Notre Expertise</div>
                <div class="desc">Votre partenaire immobilier d'exception à Nantes depuis plus de 15 ans. Vente ou achat : nous faisons de votre projet une réussite totale.</div>
            </div>
            <div class="picture_section">
                <img src="/images/pages/home/home_head_front.png" alt="Immeuble" id="building-front" />
                <img src="/images/pages/home/home_head_bg.png" alt="Arrière plan de l'immeuble" id="building-back" />
                <img src="/images/pages/home/dots_bg.png" alt="Image de fond" id="dot-background" />
            </div>
        </div>
        <div class="searchbar_widget">
            <form action="{{ path('search') }}" method="GET">
                <select name="type" id="type">
                    <option value="">Type de bien</option>
                </select>
                <span class="location">
                    <input type="text" name="location" id="location" placeholder="Ville ou code postal" />
                </span>
                <span class="submit search-animation">
                    <input type="submit" value="Rechercher" />
                </span>
            </form>
        </div>
    </div>

    <div class="section topoffers">
        <div class="wrapper">
            <div class="wrapper_block">
                <div class="text_section">
                    <div class="title">Notre sélection</div>
                    <div class="desc">Perles rares à vendre : plongez dans l'excellence de notre collection exclusive.</div>
                </div>
                <div class="btn_section">
                    <a href="{{ path('search') }}">Voir nos offres</a>
                </div>
            </div>
            <div class="wrapper_controls">
                <div class="slidebar_section">
                    <div class="slider" id="sliderbar-topoffer"></div>
                </div>
                <div class="arrows_section">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
            </div>
            <div class="wrapper_offers" id="topoffers_slider">
                {% for property in featured %}
                <div class="property-card" data-id="{{ property.reference }}">
                    <div class="container">
                        <div class="photo">
                            <a href="{{ path('property', {'slug': property.slug}) }}">
                                <img src="{{ property.photos.0 }}" alt="{{ property.title }}" />
                            </a>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <a href="{{ path('property', {'slug': property.slug}) }}">
                                    {{ property.title }}
                                </a>
                            </div>
                            <div class="price">{{ property.price|number_format(0, ',', ' ') }}€</div>
                            <div class="city">{{ property.city }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section about-us" id="a-propos">
        <div class="wrapper_block">
            <div class="picture_section">
                <img src="/images/pages/home/our-team-working.png" alt="Notre équipe qui travaille" id="team-working" />
                <img src="/images/pages/home/dots-bg-about-us.png" alt="Image de fond" id="dot-background-au" />
            </div>
            <div class="text_section">
                <div class="title">À Propos</div>
                <div class="desc">
                    <p>Nous sommes une entreprise qui connecte le monde de l'immobilier et de la finance. Nous proposons un service complet pour la vente et l'achat de biens immobiliers. Notre avantage réside dans une expérience de plus de 15 ans et une présence dans des emplacements attractifs à Nantes.</p>
                    <p>Nous sommes en relation avec toutes les banques du marché européen, nous permettant de résoudre toutes les démarches rapidement. Grâce à une innovation constante dans nos activités, nous progressons et sommes en mesure de fournir des services réellement hors normes qui nous démarquent de la concurrence.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section our-team" id="notre-equipe">
        <!-- All photos have been generated thanks to thispersondoesnotexist.com -->
        <div class="wrapper_block">
            <div class="card">
                <div class="photo">
                    <img src="/images/pages/home/team/olivier.jpg" alt="Olivier Luile" />
                </div>
                <div class="name">Olivier Luile</div>
                <div class="position">Directeur Immobilier</div>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="/images/pages/home/team/pierre.jpg" alt="Pierre Lotissement" />
                </div>
                <div class="name">Pierre Lotissement</div>
                <div class="position">Conseiller Immobilier Senior</div>
            </div>
            <div class="text_section">
                <div class="title">Notre équipe</div>
                <div class="desc">Rencontrez notre équipe dévouée, prête à concrétiser vos rêves immobiliers avec expertise et passion.</div>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="/images/pages/home/team/marie.jpg" alt="Marie Maisonette" />
                </div>
                <div class="name">Marie Maisonette</div>
                <div class="position">Responsable Marketing</div>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="/images/pages/home/team/jeanne.jpg" alt="Jeanne Duprix" />
                </div>
                <div class="name">Jeanne Duprix</div>
                <div class="position">Consultante en Financement</div>
            </div>
            <div class="card">
                <div class="photo">
                    <img src="/images/pages/home/team/alexandra.jpg" alt="Alexandra Visite" />
                </div>
                <div class="name">Alexandra Visite</div>
                <div class="position">Assistante Commercial</div>
            </div>
        </div>
    </div>

    <div class="section references">
        <div class="wrapper_block">
            <div class="text_section">
                <div class="title">Avis</div>
                <div class="desc">Plongez dans l'expérience de nos clients satisfaits. Leurs témoignages reflètent notre engagement à dépasser vos attentes et à créer des histoires immobilières exceptionnelles.</div>
            </div>
            <div class="references_slider" id="references_slider">
                {% for testimonial in testimonials %}
                <div class="card">
                    <div class="container">
                        <div class="quote">{{ testimonial.content }}</div>
                        <div class="name">{{ testimonial.fullname }}</div>
                        <div class="home_title">{{ testimonial.propertyName }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="references_slider_dots">
                {% for i in 1..(testimonials|length / 2)|round(0, 'ceil') %}
                    <div class="dot"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'partials/newsletter.html.twig' %}
</div>
{% endblock %}
