{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
<div class="wrapper" id="property">
    <div class="wrapper_block title_section">
        <h1 class="title">{{ property.title }}</h1>
    </div>

    <div class="section property">
        <div class="wrapper_block">
            <div class="property-details">
                <div class="slider_block">
                    <div class="slider" id="property-slider">
                        {% for photo in property.photos %}
                        <div class="slide" data-id="I{{ loop.index }}">
                            <img src="{{ photo }}" alt="Photo {{ loop.index }}" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="slider_controls">
                        <div class="arrow-left"></div>
                        <div class="thumbnails_wrapper">
                            <div class="thumbnails_control">
                                {% for photo in property.photos %}
                                <div class="slide" data-id="I{{ loop.index }}">
                                    <img src="{{ photo }}" alt="Photo {{ loop.index }}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>
                </div>

                <div class="details_block">
                    <div class="icon_group">
                        <div class="type">
                            {{ property.type.name }}
                        </div>
                        <div class="dimensions">
                            {{ property.totalArea|round(0, 'ceil') }}m2
                        </div>
                        <div class="location">
                            {{ property.location.city }}
                        </div>
                    </div>

                    <div class="price_group">
                        <div class="text_section">
                            <div class="desc">Prix</div>
                            <div class="title">{{ property.price|number_format(0, ',', ' ') }}€</div>
                        </div>
                        <div class="button_section">
                            <a href="#">Simuler mon prêt</a>
                        </div>
                    </div>

                    <div class="description_group">
                        {{ property.description|raw }}
                    </div>

                    <div class="map_group">
                        <map-component
                                :coordinate-x="{{ property.coordinateX }}"
                                :coordinate-y="{{ property.coordinateY }}"
                        ></map-component>
                    </div>
                </div>
            </div>

            <div class="contact-details">
                <div class="contact-form">
                    <div class="title">Contactez-nous</div>
                    <div class="form">
                        <label>
                            Nom
                            <input type="text" name="full-name" placeholder="Votre nom complet" />
                        </label>
                        <label>
                            Téléphone
                            <input type="text" name="phone" placeholder="Téléphone" />
                        </label>
                        <label>
                            Email
                            <input type="email" name="email" placeholder="Email" />
                        </label>
                        <label>
                            Votre message
                            <textarea name="message" rows="10" placeholder="Votre message"></textarea>
                        </label>
                        <label>
                            <div class="checkbox_data">
                                <input type="checkbox" name="data" id="data" />
                                <div class="label_data">
                                     J’accepte le traitement de mes <a href="#">données personnelles</a>.
                                </div>
                            </div>
                        </label>
                        <input type="submit" value="Envoyer" id="contact-btn" />
                    </div>
                </div>

                <div class="broker-card">
                    <div class="photo">
                        <img src="{{ property.agent.photo }}" alt="{{ property.agent.firstname }} {{ property.agent.lastname }}" />
                    </div>
                    <div class="name title">{{ property.agent.firstname }} {{ property.agent.lastname }}</div>
                    <div class="phone">{{ property.agent.phone }}</div>
                    <div class="mail">{{ property.agent.email }}</div>
                </div>

                <div class="carac-card">
                    <div class="title">Caractéristiques</div>
                    <div class="carac"><span>Référence:</span> {{ property.reference }}</div>
                    <div class="carac"><span>Type:</span> {{ property.type.name }}</div>
                    <div class="carac"><span>Surface habitable:</span> {{ property.livingArea|round(0, 'ceil') }} m2</div>
                    <div class="carac"><span>Surface totale:</span> {{ property.totalArea|round(0, 'ceil') }} m2</div>
                    <div class="carac"><span>Nombre de pièces:</span> {{ property.room }}</div>
                    <div class="carac"><span>Nombre de chambres:</span> {{ property.bedroom }}</div>
                    <div class="carac"><span>Ville:</span> {{ property.location.city }}</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/newsletter.html.twig' %}
</div>
{% endblock %}
