{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<div class="wrapper" id="searchpage">
    <div class="section headings">
        <div class="wrapper_block">
            <h1 class="title">Explorez nos annonces immobilières</h1>
            <h2 class="desc">Trouvez la perle rare parmi nos propriétés exceptionnelles</h2>
        </div>
    </div>

    <div class="section search">
        <div class="wrapper_block">
            <div class="searchbar">
                <input type="text" name="keyword" id="input_keyword" placeholder="Entrez un mot-clé" />
                <span class="search-animation">
                    <input type="submit" value="Rechercher" />
                </span>
            </div>
            <div class="separation">
                <div class="text">Plus de critères</div>
            </div>
            <div class="filters">
                <select name="type" id="type">
                    <option value="">Type de bien</option>
                    {% for type in types %}
                        <option value="{{ type.slug }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
                <span class="location">
                    <input type="text" name="location" id="location" placeholder="Ville ou code postal" />
                </span>
                <span class="price">
                    <input type="text" name="max_price" id="max_price" placeholder="Prix maximum" />
                </span>
            </div>
        </div>
    </div>

    <div class="section listing">
        <div class="wrapper_block">
            <div class="results">
                {% for property in properties %}
                <card-property
                        :reference="'{{ property.reference }}'"
                        :path="'{{ path('property', {'slug': property.slug}) }}'"
                        :photo="'{{ property.photos.0 }}'"
                        :title="'{{ property.title }}'"
                        :price="'{{ property.price|number_format(0, ',', ' ') }}'"
                        :city="'{{ property.city }}'"
                ></card-property>
                {% endfor %}
            </div>
            <div class="load_more">
                <button id="load-more">Page suivante</button>
            </div>
        </div>
    </div>

    {% include 'partials/newsletter.html.twig' %}
</div>
{% endblock %}
